<tbody>
{% for field in fields %}
<tr>
  <td>{{ field.label }}</td>
  <td>{{ field.field_type }}</td>
  <td>{{ field.description }}</td>
  <td>
    {{ field.settings.file_directory ? 'Répertoire d\'installation: '~field.settings.file_directory }}<br>
    {{ field.settings.file_extensions ? 'Extensions autorisées: '~field.settings.file_extensions }}<br>
    {{ field.settings.max_filesize ? 'Taille maximum: '~field.settings.max_filesize }}
  </td>
<tr>
  {% endfor %}
</tbody>
