<table>
  <thead>
  <tr>
    <th>Label</th>
    <th>Type</th>
    <th>Description</th>
    <th>Min</th>
    <th>Max</th>
  </tr>
  </thead>
  <tbody>
  {% for field in fields %}
  <tr>
    <td>{{ field.label }}</td>
    <td>{{ field.field_type }}</td>
    <td>{{ field.description }}</td>
    <td>{{ field.settings.min }}</td>
    <td>{{ field.settings.max }}</td>
  <tr>
    {% endfor %}
  </tbody>
</table>
