{% for entity_type,entities_type in data %}
  <h1>Entitées : {{ entity_type }}</h1>
  {% for entity in entities_type %}
    <caption>
      <h2>{{ entity.label }}{{ entity.name }} ({{ entity.type }}{{ entity.id }}{{ entity.vid }})</h2>
      Description : {{ entity.description }}
    </caption>
    <table>
      <thead>
      <tr>
        <th>Label</th>
        <th>Type</th>
        <th>Description</th>
        <th>Divers</th>
      </tr>
      </thead>
      {% for field_type,fields in entity.fields %}
        {% if field_type == 'file' %} {% include '@documentation_export/fields/file-field.html.twig' %}
        {% elseif field_type == 'number' %} {% include '@documentation_export/fields/number-field.html.twig' %}
        {% elseif field_type == 'text' %} {% include '@documentation_export/fields/text-field.html.twig' %}
        {% elseif field_type == 'entity_reference' %} {% include '@documentation_export/fields/entity-reference-field.html.twig' %}
        {% else %} {% include '@documentation_export/fields/default-field.html.twig' %} {% endif %}
      {% endfor %}
    </table>
  {% endfor %}
{% endfor %}

