{% for entity_type in data %}
  {% for entity in entity_type %}
    <caption>
      <h2>Entité : {{ entity.label }}{{ entity.name }} ({{ entity.type }}{{ entity.id }})</h2>
      <h3>Description : {{ entity.description }}</h3>
    </caption>
    <table>
      {% for field_type,fields in entity.fields %}
        {% if field_type == 'file' %} {% include '@documentation_export/fields/file-field.html.twig' %}
        {% elseif field_type == 'number' %} {% include '@documentation_export/fields/number-field.html.twig' %}
        {% elseif field_type == 'text' %} {% include '@documentation_export/fields/text-field.html.twig' %}
        {% elseif field_type == 'entity_reference' %} {% include '@documentation_export/fields/entity-reference-field.html.twig' %}
        {% else %} {% include '@documentation_export/fields/default-field.html.twig' %} {% endif %}
      {% endfor %}
    </table>
  {% endfor %}
{% endfor %}

