{% for entity_type,entities_type in data %}
  <h1>{{ 'Entitées' |t }} : {{ entity_type }}</h1>
  {% for entity in entities_type %}
    <caption>
      <h3>{{ entity.entity|entity_linker }}</h3>
      {{ 'Machine name' |t }} : {{ entity.entity.id }}<br>
      {{ 'Description' |t }} : {{ entity.entity.description }}
    </caption>
    <table>
      <thead>
      <tr>
        <th>{{ 'Label' |t }}</th>
        <th>{{ 'Machine name' | t }}</th>
        <th>{{ 'Field type' | t }}</th>
        <th>{{ 'Description' | t }}</th>
        <th>{{ 'Cardinality' | t }}</th>
        <th>{{ 'Field info' | t }}</th>
      </tr>
      </thead>
      {% for field_type,fields in entity.fields %}
        <tbody>
        {% for field in fields %}
        <tr>
          <td>{{ field.field_config |field_linker }}</td>
          <td>{{ field.field_config.getName }}</td>
          <td>{{ field.field_type }}</td>
          <td>{{ field.field_config.description }}</td>
          <td>
            {% if field.field_config.getFieldStorageDefinition.getCardinality == -1 %}
              {{ 'No limit' | t }}
            {% else %}
              {{ field.field_config.getFieldStorageDefinition.getCardinality }}
            {% endif %}
          </td>
          <td>
            {% if field_type == 'file' %} {% include '@documentation_export/fields/file-field.html.twig' %}
            {% elseif field_type == 'number' %} {% include '@documentation_export/fields/number-field.html.twig' %}
            {% elseif field_type == 'text' %} {% include '@documentation_export/fields/text-field.html.twig' %}
            {% elseif field_type == 'image' %} {% include '@documentation_export/fields/image-field.html.twig' %}
            {% elseif field_type == 'entity_reference' %} {% include '@documentation_export/fields/entity-reference-field.html.twig' %}{% endif %}
          </td>
        <tr>
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  {% endfor %}
  <br><br>
{% endfor %}

